<!-- {% extends 'base.html' %}-->
<!-- {% block content %}  -->
<center style="margin-left: auto;margin-right: auto; width: 200px;">
<form action="#" method="post">
	{% csrf_token %}
 	<input type="text" name="name" placeholder="Full Name" required="" class="form-control"><br>
 	<input type="text" name="username" placeholder="Userame" required="" class="form-control"><br>
 	<input type="email" name="email" placeholder="Email" required="" class="form-control"><br>
 	<input type="tel" name="phone" placeholder="Phone Number" required="" class="form-control"><br>
 	<input type="password" name="pass1" placeholder="Password" required="" class="form-control"><br>
 	<input type="password" name="pass2" placeholder="  Confirm Password" required="" class="form-control"><br>




  <!-- <div class="form-group">
  	<p align="left">Patient or Docter</p>
 <select name="post" >-->
	         <!-- <option default="">Select Gender</option> -->
	         <!-- <option  name="Client">Docter </option>
	         <option  name="Patient">Patient</option>
	         </select><br>
  </div> -->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</center>

<!-- 
{% endblock content %}  -->

<form class="site-form" action="index.html" method="post">
    {{form}}
    <input type="submit"
</form>