{% load static %}
<div class="categories-shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="{% include 'images/categories_img_01.jpg' %}" alt="" />
                    <a class="btn hvr-hover" href="shop.html">legume</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="{% include 'images/fructe.jpg' %}" alt="" />
                    <a class="btn hvr-hover" href="shop.html">fruits</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="{% include 'images/categories_img_03.jpg' %}" alt="" />
                    <a class="btn hvr-hover" href="shop.html">Order Details</a>
                </div>
            </div>
        </div>
    </div>
</div>