{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
    <div class="container">
        <!-- Start Header Navigation -->
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
            <a class="navbar-brand" href="index.html"><img src="images/logo2.png" class="logo" alt=""></a>
        </div>
        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                <li class="nav-item active"><a class="nav-link" href="index.html">Acasa</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">Despre noi</a></li>
                <li class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Magazin</a>
                    <ul class="dropdown-menu">
                        <li><a href="shop.html">Magazin direct</a></li>
                        <li><a href="shop-detail.html">Detaliu Produs</a></li>
                        <li><a href="cart.html">Carucior</a></li>
                        <li><a href="checkout.html">Finalizeaza comanda</a></li>
                        <li><a href="my-account.html">Contul meu</a></li>
                        <li><a href="wishlist.html">Favorite</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="gallery.html">Galerie</a></li>
                <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->

        <!-- Start Atribute Navigation -->
        <div class="attr-nav">
            <ul>
                <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                <li class="side-menu">
                    <a href="cart.html">
                        <i class="fa fa-shopping-bag"></i>
                        <span class="badge">0</span>
                        <p>Caruciorul meu</p>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End Atribute Navigation -->
    </div>
    <!-- Start Side Menu -->
    <div class="side">
        <a href="#" class="close-side"><i class="fa fa-times"></i></a>
        <li class="cart-box">
            <ul class="cart-list">
               
                <li class="total">
                    <a href="cart.html" class="btn btn-default hvr-hover btn-cart">VEZI COSUL</a>
                    <span class="float-right"><strong>Total</strong>: 0.00</span>
                </li>
            </ul>
        </li>
    </div>
    <!-- End Side Menu -->
</nav>