{% load static %}
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="{% static 'images/banner-01.jpg' %}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome to<br> agriShop</strong></h1>
                        <p class="m-b-40">Here you can find all the products you need, from milk to potatoes!<br>Agrishop is the ideal store for your needs!</p>
                        <p><a class="btn hvr-hover" href="shop.html">Buy</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="{% static 'images/banner-02.jpg' %}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome to<br> AgriShop</strong></h1>
                        <p class="m-b-40">Here you can find all the products you need, from milk to potatoes! <br> Agrishop is the ideal store for your needs!</p>
                        <p><a class="btn hvr-hover" href="shop.html">Cumpara</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="{% static 'images/banner-03.jpg' %}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome to<br> AgriShop</strong></h1>
                        <p class="m-b-40">Here you can find all the products you need, from milk to potatoes! <br>Agrishop is the ideal store for your needs!</p>
                        <p><a class="btn hvr-hover" href="shop.html">Cumpara</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>