{% load static %}
<div class="main-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="custom-select-box">
                    <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">

                        <option>ron</option>
                        <option>€ EUR</option>
                    </select>
                </div>
                <div class="right-phone-box">
                    <!-- <p>Contact :- <a href="#"> +40 0753 421 592</a></p> -->
                    <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"> -->
                        <div class="login-box">
                            <button id="basic" class="selectpicker show-tick form-control" data-placeholder="Sign In">
                                Sign In
                            </button>

                    </div>
                </div>

            </div>
        </div>
    </div>