{% load static %}
<div class="main-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="custom-select-box">
                    <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
                        
                        <option>RON</option>
                        <option>€ EUR</option>
                    </select>
                </div>
                <div class="right-phone-box">
                    <p>Contact :- <a href="#"> +40 0753 421 592</a></p>
                </div>
                <div class="our-link">
                    <ul>
                        <li><a href="#"><i class="fa fa-user s_color"></i> Contul Meu</a></li>
                        <li><a href="#"><i class="fas fa-location-arrow"></i> Sediul Nostru</a></li>
                        <li><a href="#"><i class="fas fa-headset"></i> Contacteaza-ne!</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="login-box">
                    <select id="basic" class="selectpicker show-tick form-control" data-placeholder="Sign In">
                        <option>Inscrie-te!</option>
                        
                    </select>
                </div>
                <div class="text-slid-box">
                    <div id="offer-box" class="carouselTicker">
                        <ul class="offer-box">
                            <li>
                                <i class="fab fa-opencart"></i> 20% Reducere la toate fructele!
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> 50% - 80% Reducere la legume!
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> Off 10%! Oferta speciala!
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> Off 50%! Cumpara acum!
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>